[submodule "AlasCore/vendor/spdlog"]
	path = AlasCore/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "AlasCore/vendor/SDL"]
	path = AlasCore/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
    branch = main
[submodule "AlasCore/vendor/imgui"]
	path = AlasCore/vendor/imgui
	url = https://github.com/ocornut/imgui.git
    branch = docking
[submodule "AlasCore/vendor/glm"]
	path = AlasCore/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "AlasCore/vendor/entt"]
	path = AlasCore/vendor/entt
	url = https://github.com/skypjack/entt.git
